import(methods)
importFrom(stats,aggregate)
importFrom(stats,ave)
importFrom(stats,setNames)
exportClasses(MetaNetResult)
export(association_graph)
export(build_mpi_network)
export(build_ppi_network)
export(export_enrichment)
export(load_example_data)
export(load_mpi_reference)
export(plot_association_network)
export(plot_score_heatmap)
export(plot_term_ranking)
export(prepare_enrichment)
export(prepare_mpi)
export(prepare_ppi)
export(reduce_terms)
export(result_edges)
export(result_qc)
export(result_scores)
export(result_term_reduction)
export(result_unmatched)
export(run_enrichment)
export(run_deg_enrichment)
export(run_metanet)
